.contact {
    display: grid;
    place-items: center;
    margin-top: 1rem;
    min-height: 30rem;
    background: var(--primary-color-lighten);
    clip-path: polygon(30% 0%, 70% 0%, 
    100% 30%, 100% 70%,
     70% 100%, 30% 100%, 0% 70%, 0% 30%);

     &__banner {
        background:var(--body-color);
        text-align: center;
        padding:0.5rem 2rem 6rem 2rem;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%,
         75% 75%, 75% 100%, 50% 75%, 0% 75%);
     }

     &__title {
        text-align: center;
        margin: 2rem 0;
     }
   

}