.header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    width: 100%;
    background: var(--primary-color-lighten);
    z-index: 2;
   
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   


    &__logo {
        color:var(--primary-color);
        font-size: 1.25rem;
        font-weight: bold;
    }

    &__toggle {
        color: var(--primary-color);
        font-size: 1.5rem;
        cursor: pointer;

        &:hover {
            color: var(--body-color);
        }
    }

    
    &__menu {

        @media screen and (max-width:767px) {
            position: fixed;
            top:-100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            background:var(--primary-color-lighten);
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 2rem;
            padding: 1.5rem 0;
            width: 90%;
            transition: 0.4s;
        }
    }

    &__list {
        align-items: center;
       
        text-align: center;
    }

    &__item {
        padding:0.875rem;
        
        &:hover {
            background: var(--body-color);
            border-radius: 1.5rem;
        }
    }

    &__link{
        color: var(--primary-color);
       
    }
}
.head-shadow {
    box-shadow:0 1px 4px rgba(0,0,0,0.1);
}
.show-menu {
    top: 4rem;
}

